.body {
  width: 100%;
}
.book-container-wrapper {
  width: 100%;
}

.book-container-wrapper > .title {
  text-align: center;
}

.book-container-wrapper > .input-form {
  width: 90rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.book-container-wrapper > .input-form > .form-group {
  margin-bottom: 1.6rem;
}
.book-container-wrapper > .input-form > .form-group > label {
  margin-bottom: 0.8rem;
}

.book-container-wrapper > .input-form > .form-group > input,
.book-container-wrapper > .input-form > .form-group > textarea {
  padding: 1rem 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  color: #f4f4f5;
  display: block;
}
.book-container-wrapper > .input-form > .form-group > textarea {
  min-height: 5 0rem;
}

.book-container-wrapper > .input-form > .form-group > input::placeholder,
.book-container-wrapper > .input-form > .form-group > textarea::placeholder {
  color: #a7adb2;
}

.book-container-wrapper > .input-form > .form-group > input:focus,
.book-container-wrapper > .input-form > .form-group > textarea:focus {
  box-shadow: none;
}

.book-container-wrapper > .input-form > button {
  width: 100%;
  margin-bottom: 0.8rem;
  display: block;
}
.book-container-wrapper > .input-form > a {
  width: 100%;
  display: block;
}

.author-wrapper .author-select-wrapper {
  background: rgba(255, 255, 255, 0.1) !important;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  display: block;
  height: fit-content;
}
.author-wrapper .author-select-wrapper > span:first-child {
  background-color: transparent;
  padding: 0;
  color: #f4f4f5 !important;
  padding: 1rem 1.6rem;
}
.author-select-wrapper > span:last-child {
  transform: translate(-25%, 40%) scale(1.5);
}
.select2-container .select2-selection--single {
  height: fit-content;
  border-radius: 8px;
}

.author-select-wrapper
  .select2-container--default
  .select2-results
  > .select2-results__options {
  background-color: rgba(255, 255, 255, 0.1);
}

.locate-wrapper .locate-select-wrapper {
  background: rgba(255, 255, 255, 0.1) !important;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  display: block;
  height: fit-content;
}
.locate-wrapper .locate-select-wrapper > span:first-child {
  background-color: transparent;
  padding: 0;
  color: #f4f4f5 !important;
  padding: 1rem 1.6rem;
}
.locate-select-wrapper > span:last-child {
  transform: translate(-25%, 40%) scale(1.5);
}
.locate-select-wrapper
  .select2-container--default
  .select2-results
  > .select2-results__options {
  background-color: rgba(255, 255, 255, 0.1);
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #22313f;
}
.select2-results__option--selectable {
  background-color: #18222c;
}
.select2-container--default .select2-results__option--selected {
  background-color: #18222c;
}

.select2-container--default .select2-results > .select2-results__options {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}
.select2-container--default .select2-selection--multiple {
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 8px;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #34495e;
  border: none;
  margin: 0;
  padding: 0.8rem;
  margin-right: 8px;
  color: #ffffff;
}

.select2-container--default .select2-selection--multiple {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  height: 5rem;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  transform: translateY(50%);
  border: none;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  background-color: transparent;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding: 1rem;
}

.select2-results__option {
  color: #fafafa;
  background-color: #18222c;
  outline: none;
}
.select2-container--open .select2-dropdown--below {
  border: none;
}

textarea {
  color: #ffffff !important;
}

#image-upload {
  width: 42rem;
  height: 48rem;
  object-fit: cover;
}
