.body {
  width: 100%;
}
.user-wrapper {
  width: 100%;
}
.user-wrapper > .title {
  margin-bottom: 1.6rem;
}

.user-wrapper > .add-user {
  display: block;
  margin-bottom: 1.2rem;
}

.user-wrapper > .add-user:hover {
  text-decoration: underline;
  color: #3498db;
}

a {
  width: fit-content;
}

td,
th {
  vertical-align: middle;
}

.user-wrapper .form-group > input {
  padding: 1rem 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.8rem;
  width: 40rem;
  border-radius: 8px;
  border: none;
  color: #f4f4f5;
  display: inline-block;
}
