.body {
  width: 100%;
}
.user-wrapper {
  width: 100%;
}

.user-wrapper > .title {
  text-align: center;
}

.user-wrapper > .input-form {
  width: 40rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.user-wrapper > .input-form > .form-group {
  margin-bottom: 1.6rem;
}
.user-wrapper > .input-form > .form-group > label {
  margin-bottom: 0.8rem;
}

.user-wrapper > .input-form > .form-group > input {
  padding: 1rem 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  color: #f4f4f5;
  display: block;
}

.user-wrapper > .input-form > .form-group > input::placeholder {
  color: #a7adb2;
}

.user-wrapper > .input-form > .form-group > input:focus {
  box-shadow: none;
}

.user-wrapper > .input-form > button {
  width: 100%;
  margin-bottom: 0.8rem;
  display: block;
}
.user-wrapper > .input-form > a {
  width: 100%;
  display: block;
}

.user-wrapper > .input-form > .form-group > select {
  padding: 1rem 1.6rem;
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  color: #f4f4f5;
  display: block;
}
.user-wrapper > .input-form > .form-group > select option {
  margin: 1rem 1.6rem;
  background-color: #34495e;
  border: none;
  color: #fafafafa;
}
.user-wrapper > .input-form > .form-group > select:focus {
  box-shadow: none;
}
.user-wrapper > .input-form > .form-group > select::placeholder {
  color: #0a0a0a;
}
.select-wrapper {
  background: rgba(255, 255, 255, 0.1) !important;
  margin-bottom: 0.8rem;
  border-radius: 8px;
  border: none;
  display: block;
  height: fit-content;
}
.select-wrapper > span:first-child {
  background-color: transparent;
  padding: 0;
  color: #f4f4f5 !important;
  padding: 1rem 1.6rem;
}
.select-wrapper > span:last-child {
  transform: translate(-25%, 40%) scale(1.5);
}

.select2-container .select2-selection--single {
  height: fit-content;
  border-radius: 8px;
}

.select2-container--default .select2-results > .select2-results__options {
  background-color: rgba(255, 255, 255, 0.1);
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #22313f;
}
.select2-results__option--selectable {
  background-color: #18222c;
}
.select2-container--default .select2-results__option--selected {
  background-color: #18222c;
}

.select2-container--default .select2-results > .select2-results__options {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}
