{% extends "dashboardBase.html" %} {% block title %}Home{% endblock %} {% block
body %}

<div>
  <div class="navigation-wrapper">
    <a href="/admin">
      <i class="fa-solid fa-house"></i>
      <span class="sub-heading-4">Trang chủ</span>
    </a>
    {% for locate in location %}
    <span><i class="fas fa-greater-than"></i></span>
    <a href="{{locate.url}}">
      <span class="sub-heading-4">{{locate.label}}</span>
    </a>
    {% endfor %}
  </div>
  <div class="bookManager-wrapper">
    <div class="heading-1 title">Danh sách đầu sách</div>
    {% if notify.type != NULL %}
    <div class="alert alert-{{notify.type}} body-2" role="alert">
      {{notify.detail}}
    </div>
    {% endif %}
    <a href="/admin/books/them-moi" class="sub-heading-2 add-book-link"
      >Thêm mới</a
    >
    <table class="table table-hover table-dark body-2">
      <thead>
        <tr class="heading-3">
          <th scope="col">Ảnh bìa</th>
          <th scope="col">Tựa đề</th>
          <th scope="col">Giá</th>
          <th scope="col">Nội dung</th>
          <th scope="col">Thể loại</th>
          <th scope="col">Tác giả</th>
          <th scope="col">Số lượng</th>
          <th scope="col">Số lượng còn lại</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <td>
            <div class="book-img">
              <img src="/assets/images/{{book.image}}" alt="" />
            </div>
          </td>
          <td>{{book.title}}</td>
          <td>{{book.price}}</td>
          <td class="book-desc">
            <span>{{book.description}}</span>
          </td>
          <td>{{book.categories}}</td>
          <td>{{book.authorId}}</td>
          <td>{{book.quantity}}</td>
          <td>{{book.quantityLeft}}</td>
          <td>
            <a
              href="/admin/books/cap-nhat/{{book.id}}"
              class="btn btn-success sub-heading-3"
              >Sửa</a
            >
            <form action="/admin/books" method="post" style="display: inline">
              <input
                type="text"
                value="{{book.id}}"
                name="id"
                style="display: none"
              />
              <button
                class="btn btn-danger sub-heading-3"
                type="submit"
                name="action"
                value="delete"
              >
                Xóa
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/private/book.css" />
{% endblock %} {% block js %} {% endblock %}
