{% extends "dashboardBase.html" %} {% block title %}Home{% endblock %} {% block
body %}

<div>
  <div class="navigation-wrapper">
    <a href="/admin">
      <i class="fa-solid fa-house"></i>
      <span class="sub-heading-4">Trang chủ</span>
    </a>
    {% for locate in location %}
    <span><i class="fas fa-greater-than"></i></span>
    <a href="{{locate.url}}">
      <span class="sub-heading-4">{{locate.label}}</span>
    </a>
    {% endfor %}
  </div>
  <div class="body-2 book-container-wrapper">
    <div class="heading-1 title">Thêm sách</div>
    <form
      class="input-form"
      action="/admin/books"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="title-inpt" class="sub-heading-4">Tựa đề</label>
        <input
          type="text"
          class="form-control sub-heading-4"
          id="title-inpt"
          placeholder="Tựa đề sách"
          required
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="price-inpt" class="sub-heading-4">Ngày nhập</label>
        <input
          type="date"
          class="form-control sub-heading-4"
          id="price-inpt"
          placeholder="Ngày nhập"
          required
          name="dateIn"
        />
      </div>

      <div class="form-group">
        <label for="quantity-inpt" class="sub-heading-4">Số lượng</label>
        <input
          type="number"
          class="form-control sub-heading-4"
          id="quantity-inpt"
          placeholder="Số lượng"
          required
          name="quantity"
        />
      </div>

      <div class="form-group">
        <label for="quantityLeft-inpt" class="sub-heading-4"
          >Số lượng còn tốt</label
        >
        <input
          type="number"
          class="form-control sub-heading-4"
          id="quantityGood-inpt"
          placeholder="Số lượng còn tốt"
          required
          name="numOfGood"
        />
      </div>

      <div class="form-group">
        <label for="img-inpt" class="sub-heading-4">Ảnh bìa</label>
        <br />
        <label for="img-inpt"><img id="image-upload" /></label>
        <input
          type="file"
          class="form-control sub-heading-4"
          id="img-inpt"
          name="image"
          onchange="loadFile(event)"
        />
        <small id="img-inpt" class="form-text text-muted"
          >Ảnh nên sắc nét một chút, độ phân giải nên là 420x480</small
        >
      </div>

      <div class="form-group">
        <label for="desc-inpt" class="sub-heading-4">Nội dung sách</label>
        <textarea
          class="form-control sub-heading-4"
          id="desc-inpt"
          placeholder="Nội dung vắn tắt hoặc đôi dòng giới thiệu"
          required=""
          name="description"
        ></textarea>
      </div>
      <div class="form-group category-wrapper">
        <input type="text" style="display: none" id="cate-value" name="cate" />
        <label for="cate-slc" class="sub-heading-4">Thể loại</label>
        <select class="form-control sub-heading-4" id="cate-slc" multiple>
          {% for cate in data.categories %}
          <option value="{{cate.id}}" data-badge="">{{cate.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group author-wrapper">
        <label for="author-slc" class="sub-heading-4">Tác giả</label>
        <select
          class="form-control sub-heading-4"
          name="author"
          id="author-slc"
        >
          {% for author in data.author %}
          <option value="{{author.id}}">{{author.name}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group locate-wrapper">
        <label for="locate-slc" class="sub-heading-4">Nơi lưu trữ</label>
        <select
          class="form-control sub-heading-4"
          name="locate"
          id="locate-slc"
        >
          {% for locate in data.locations %}
          <option value="{{locate.id}}">{{locate.name}}</option>
          {% endfor %}
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-outline-info btn-lg btn-block sub-heading-2"
        name="action"
        value="add"
        id="act"
      >
        Lưu thông tin
      </button>
      <a
        href="/admin/users"
        class="btn btn-outline-danger btn-lg btn-block sub-heading-2"
      >
        Hủy
      </a>
    </form>
  </div>
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/private/book-insert.css" />
{% endblock %} {% block js %}
<script>
  var $author = $("#author-slc");
  $author.select2({
    minimumResultsForSearch: Infinity,
    selectionCssClass: "author-select-wrapper",
  });

  var $cate = $("#cate-slc");
  $cate.select2({
    minimumResultsForSearch: Infinity,
    selectionCssClass: "select-wrapper",
    placeholder: "Chủ đề sách",
  });
  var $locate = $("#locate-slc");
  $locate.select2({
    minimumResultsForSearch: Infinity,
    selectionCssClass: "locate-select-wrapper",
  });
  $cate.on("change", function () {
    $("#cate-value").val($cate.val().join(","));
  });
  var loadFile = function (e) {
    var output = document.getElementById("image-upload");
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function () {
      URL.revokeObjectURL(output.src); // free memory
    };
  };
</script>
<script src="/assets/js/private/books.js"></script>
{% endblock %}
