{% extends "dashboardBase.html" %} {% block title %}Home{% endblock %} {% block
body %}

<div>
  <div class="navigation-wrapper">
    <a href="/admin">
      <i class="fa-solid fa-house"></i>
      <span class="sub-heading-4">Trang chủ</span>
    </a>
    {% for locate in location %}
    <span><i class="fas fa-greater-than"></i></span>
    <a href="{{locate.url}}">
      <span class="sub-heading-4">{{locate.label}}</span>
    </a>
    {% endfor %}
  </div>
  <div class="body-2 user-wrapper">
    <div class="heading-1 title">Thêm sách</div>
    <form class="input-form" action="/admin/users" method="post">
      <div class="form-group">
        <label for="username-inpt" class="sub-heading-4">Tựa đề</label>
        <input
          type="text"
          class="form-control sub-heading-4"
          id="username-inpt"
          placeholder="Tên người dùng"
          required=""
          name="username"
        />
      </div>

      <div class="form-group">
        <label for="password-inpt" class="sub-heading-4">Ảnh bìa</label>
        <input
          type="file"
          class="form-control sub-heading-4"
          id="password-inpt"
          placeholder="Mật khẩu"
          required=""
          name="password"
        />
        <small id="password-inpt" class="form-text text-muted"
          >Ảnh nên sắc nét một chút</small
        >
      </div>

      <div class="form-group">
        <label for="username-inpt" class="sub-heading-4">Nội dung sách</label>
        <textarea
          class="form-control sub-heading-4"
          id="username-inpt"
          placeholder="Tên người dùng"
          required=""
          name="username"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="role-slc" class="sub-heading-4">Vai trò</label>
        <select class="form-control sub-heading-4" name="role" id="role-slc">
          <option value="admin">Quản trị viên</option>
          <option value="user">Người dùng</option>
        </select>
      </div>
      <div class="form-group">
        <select class="js-select2" multiple="multiple">
          <option value="O1" data-badge="">Option1</option>
          <option value="O2" data-badge="">Option2</option>
          <option value="O3" data-badge="">Option3</option>
          <option value="O4" data-badge="">Option4</option>
          <option value="O5" data-badge="">Option5</option>
          <option value="O6" data-badge="">Option6</option>
          <option value="O7" data-badge="">Option7</option>
          <option value="O8" data-badge="">Option8</option>
          <option value="O9" data-badge="">Option9</option>
          <option value="O10" data-badge="">Option10</option>
          <option value="O11" data-badge="">Option11</option>
          <option value="O12" data-badge="">Option12</option>
          <option value="O13" data-badge="">Option13</option>
        </select>
      </div>

      <button
        type="submit"
        class="btn btn-outline-info btn-lg btn-block sub-heading-2"
        name="action"
        value="add"
      >
        Lưu thông tin
      </button>
      <a
        href="/admin/users"
        class="btn btn-outline-danger btn-lg btn-block sub-heading-2"
      >
        Hủy
      </a>
    </form>
  </div>
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/private/book-insert.css" />
{% endblock %} {% block js %}
<script src="/assets/js/private/books.js"></script>
{% endblock %}
