{% extends "dashboardBase.html" %} {% block title %}Home{% endblock %} {% block
body %}

<div>
  <div class="navigation-wrapper">
    <a href="/admin">
      <i class="fa-solid fa-house"></i>
      <span class="sub-heading-4">Trang chủ</span>
    </a>
    {% for locate in location %}
    <span><i class="fas fa-greater-than"></i></span>
    <a href="{{locate.url}}">
      <span class="sub-heading-4">{{locate.label}}</span>
    </a>
    {% endfor %}
  </div>
  <div class="user-wrapper">
    <div class="heading-1 title">Danh sách user</div>
    {% if notify.type != NULL %}
    <div class="alert alert-{{notify.type}} body-2" role="alert">
      {{notify.detail}}
    </div>
    {% endif %}
    <a href="/admin/users/them-moi" class="sub-heading-2 add-user">Thêm mới</a>
    <table class="table table-hover table-dark body-2">
      <thead>
        <tr class="heading-3">
          <th scope="col">Tên người dùng</th>
          <th scope="col">Mật khẩu</th>
          <th scope="col">Vai trò</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th>{{user.username}}</th>
          <td>{{user.password}}</td>
          <td>{{user.role}}</td>
          <td>
            <a
              href="/admin/users/sua-thong-tin"
              class="btn btn-success sub-heading-3"
              >Sửa</a
            >
            <form action="/admin/users" method="post" style="display: inline">
              <input
                type="text"
                value="{{user.id}}"
                name="id"
                style="display: none"
              />
              <button
                class="btn btn-danger sub-heading-3"
                type="submit"
                name="action"
                value="delete"
              >
                Xóa
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/private/user.css" />
{% endblock %} {% block js %} {% endblock %}
