{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<div class="container">
  <h1>Welcome {{ name }}</h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, neque omnis
  pariatur quo repudiandae voluptatem vel corrupti architecto asperiores
  mollitia expedita esse, dolores ea odit et consequatur! Reprehenderit ex
  repudiandae illo aliquid, cum cumque numquam commodi temporibus error. Sed
  dignissimos, harum magni dolorem officiis cum corrupti accusamus ipsa,
  repudiandae nulla cupiditate accusantium quis? Error sint in distinctio
  accusamus, et facere hic adipisci magni, maxime, magnam repellat fuga? Dolorem
  beatae tempore possimus omnis ea amet tempora maxime aliquam quaerat,
  deserunt, sequi neque fuga pariatur eum aut explicabo quasi distinctio
  voluptas illum facilis est? Eveniet qui magnam dicta cumque placeat assumenda
  quis minus iste sit eius. Iusto officiis ullam vero aperiam nesciunt quod rem
  sunt, repudiandae nulla ab maxime velit dolorem repellendus neque officia hic
  maiores laudantium earum numquam quidem. Neque ipsa porro non nesciunt
  veritatis praesentium rem, sint, suscipit repudiandae eligendi corrupti
  possimus ducimus accusamus, fuga impedit perspiciatis? Voluptate beatae
  aspernatur quae, ad eum reiciendis facere, laborum dolores perferendis tempora
  atque? Voluptatem perferendis quisquam quia sit maiores quaerat ad amet dicta
  ea, rerum natus labore voluptatibus architecto! A impedit iusto, suscipit
  accusantium quo omnis illo. Illo sequi molestias, sapiente nam, facere, ab
  autem aliquid quisquam velit reprehenderit possimus. Fugiat, officia quae!
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, corporis?
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}
