{% extends "base.html" %} {% block title %}Home{% endblock %} {% block body %}

<div class="container">
  <div class="grid-wrapper">
    <h2 class="heading-2">Heading 2</h2>
    <div class="row justify-content-start align-items-center">
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
      <div class="col-2">
        <a href="#" class="book-wrapper">
          <div class="image">
            <img src="/assets/images/book-sample.jpg" alt="" />
          </div>
          <div class="heading-3 title">Hành tinh song song</div>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block css %}
<link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}
