.book-main-detail-wrapper {
}

.book-main-detail-wrapper .book-image {
  width: 42rem;
  height: 48rem;
  overflow: hidden;
  border-radius: 8px;
}

.book-main-detail-wrapper .book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.book-main-detail-wrapper .book-image:hover img {
  transform: scale(1.2);
}

.book-main-detail-wrapper .author,
.book-main-detail-wrapper .categories {
  margin-top: 1.8rem;
}
.book-main-detail-wrapper .author span,
.book-main-detail-wrapper .categories span {
  font-weight: 800;
}
.book-main-detail-wrapper .categories a {
  user-select: none;
  color: #ffffff;
  background-color: #34495e;
  padding: 0.8rem;
  border-radius: 0.8rem;
  text-decoration: none;
}

.book-main-detail-wrapper .author a {
  color: #ffffff;
  text-decoration: none;
}
.book-main-detail-wrapper .author a:hover {
  color: #3498db;
}

.book-main-detail-wrapper .categories .category:hover {
  background-color: #3498db;
}

.book-main-detail-wrapper .acchive-wrapper {
  padding: 1.6rem 0;
  margin-top: 3.2rem;
  border-top: #bdc3c7 1px solid;
  border-bottom: #bdc3c7 1px solid;
}

.book-main-detail-wrapper .acchive-wrapper .acchive {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.book-main-detail-wrapper .acchive-wrapper .acchive div {
  font-weight: 800;
}

.book-main-detail-wrapper .tool-wrapper {
  display: flex;
  flex-direction: column;
}

.book-main-detail-wrapper .tool-wrapper a {
  margin-top: 1.2rem;
  padding: 1.4rem;
  max-width: 42rem;
}

.swiper {
  width: 100%;
}

.slide-wrapper {
  margin-top: 2.4rem;
}
