.footer-wrapper {
  padding-top: 8rem;
}
.footer-wrapper .logo-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .logo-wrapper > .logo {
  font-size: 3rem;
  margin-bottom: 1.6rem;
}

.footer-wrapper .logo-wrapper > .sub-logo {
  font-weight: 600;
  color: #ecf0f1;
  font-size: 2rem;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

.menu-wrapper > * {
  margin-bottom: 0.8rem;
}

.menu-wrapper a {
  color: #a7adb2;
  text-decoration: none;
}
