.swiper {
  width: 100%;
  height: 50rem;
}
.slider-wrapper {
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
}

.slider-wrapper:hover {
  color: white;
}

.slider-wrapper > * {
  position: relative;
  z-index: 1;
}
.slider-wrapper > img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.categories {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}
.category-wrapper {
  width: calc(100% / 4 - 8px);
  padding: 0;
  margin: 0;
  height: 15rem;
  position: relative;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
  margin-right: 8px;
  margin-bottom: 8px;
}

.category-wrapper:hover {
  color: white;
}

.category-wrapper > * {
  z-index: 1;
  position: relative;
}

.category-wrapper > img {
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: all 0.3s;
}

.category-wrapper:hover > img {
  transform: scale(1.5);
  transition: all 0.3s;
}

.category-wrapper > div {
  background: linear-gradient(
    116.89deg,
    rgba(0, 0, 0, 0.3) 82.6%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper {
  margin-bottom: 2.4rem;
}
