.book {
  width: fit-content;
}

.book-wrapper {
  display: block;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  margin: 1rem 0;
  height: 26rem;
  width: 22.5rem;
  user-select: none;
}
.book-wrapper > .image {
  width: 100%;
  height: 100%;
}

.book-wrapper > .image > img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-wrapper:hover > .image > img {
  transform: scale(1.2);
}

.book-wrapper > .title {
  position: absolute;
  color: #ecf0f1;
  bottom: 0;
  left: 50%;
  padding-bottom: 1rem;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.8) 67%,
    rgba(0, 0, 0, 0.8)
  );
}

.book-wrapper > .title:hover {
  color: #3498db;
}

.swiper {
  width: 100%;
  height: 50rem;
}
.slider-wrapper {
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
  border-radius: 8px;
  text-decoration: none;
  overflow: hidden;
}

.slider-wrapper:hover{
  color: white;
}

.slider-wrapper > * {
  position: relative;
  z-index: 1;
}
.slider-wrapper > img {
  border-radius: 8px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
