.list-wrapper {
}

.filter-col {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.filter-col > .btn {
  width: calc(100% - 2rem);
}
.filter-col > .price-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.filter-col > .price-wrapper > input {
  padding: 0.5rem;
  width: calc(50% - 1rem);
}
