<section class="footer-wrapper">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-6 logo-wrapper">
        <a class="logo" href="/">Quản lý <span>thư viện</span></a>
        <span class="sub-logo">Sách cho mọi nhà</span>
      </div>
      <div class="col-6">
        <div class="row justify-content-between">
          <div class="col-4 menu-wrapper">
            <div class="sub-heading-2">Lorem, ipsum</div>
            <a href="#" class="sub-heading-4">Lorem ipsum dolor sit amet.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
          </div>
          <div class="col-4 menu-wrapper">
            <div class="sub-heading-2">Lorem, ipsum</div>
            <a href="#" class="sub-heading-4">Lorem ipsum dolor sit amet.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
          </div>
          <div class="col-4 menu-wrapper">
            <div class="sub-heading-2">Lorem, ipsum</div>
            <a href="#" class="sub-heading-4">Lorem ipsum dolor sit amet.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
          </div>
          <div class="col-4 menu-wrapper">
            <div class="sub-heading-2">Lorem, ipsum</div>
            <a href="#" class="sub-heading-4">Lorem ipsum dolor sit amet.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
            <a href="#" class="sub-heading-4">Lorem, ipsum dolor.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
