<div class="sideMenu-wrapper">
  <div class="heading-3 title">Công cụ quản lý</div>
  <a class="sub-heading-4 side-item" href="/admin/users">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Quản lý người dùng</div>
  </a>
  <a class="sub-heading-4 side-item" href="/admin/books">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Quản lý sách</div>
  </a>
  <a class="sub-heading-4 side-item" href="#">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Quản lý tác giả</div>
  </a>
  <a class="sub-heading-4 side-item" href="#">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Quản lý danh mục</div>
  </a>
  <a class="sub-heading-4 side-item" href="#">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Quản lý đơn hàng</div>
  </a>
  <a class="sub-heading-4 side-item" href="#">
    <div class="icon">
      <i class="fa-duotone fa-users"></i>
    </div>
    <div class="label">Thống kê doanh số</div>
  </a>
</div>
