<script src="/assets/libs/jquery-3.6.1.min.js"></script>
<script src="/assets/libs/bootstrap-5.2.2/js/bootstrap.min.js"></script>
<script src="/assets/libs/bootstrap-5.2.2/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/authen.js"></script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip({
      title: getCookie("username"),
    });
    if (!getCookie("username")) {
      $(".sidebar > a").css("display", "none");
      $("#login-sidebarRoute").css("display", "inline-block");
    } else {
      $(".sidebar > a").css("display", "inline-block");
      $("#login-sidebarRoute").css("display", "none");
    }
    if (getCookie("role") === "admin") {
      $("#adminRoute").css("display", "inline-block");
    } else if (getCookie("role") === "user") {
      $("#adminRoute").css("display", "none");
    }
  });
</script>
