<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    {% include "./PublicLayout/cssImport.html" %} {% block css %}{% endblock %}
  </head>
  <body>
    <div class="base-wrapper">
      {% include "./PublicLayout/header.html" %}
      <div class="body-wrapper">{% block body %} {% endblock %}</div>
      {% include "./PublicLayout/footer.html" %}
    </div>
    {% include "./PublicLayout/sidebar.html" %} {% include
    "./PublicLayout/jsImport.html" %} {% block js %}{% endblock %}
  </body>
</html>
